# SPDX-FileCopyrightText: 2022 Genome Research Ltd.
#
# SPDX-License-Identifier: MIT

# Only put packages used by the testing code here.
# Packages needed by the package under test should be
# mentioned in setup.cfg

#coverage>=4.0.3
flask_testing==0.8.0
#pluggy>=0.3.1
psycopg2-binary == 2.9.1
#py>=1.4.31
pytest==6.0.1
#randomize>=0.13
responses
