# SPDX-FileCopyrightText: 2022 Genome Research Ltd.
#
# SPDX-License-Identifier: MIT

# Only put packages used by the testing code here.
# Packages needed by the package under test should be
# mentioned in pyproject.toml

-r ./requirements/sciops.txt

flask_testing==0.8.1
pytest==7.3.1
responses
requests_mock
nanoid==2.0.0
